<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default"/>

<f:section name="Content">

    <section class="bw-jobs-section">
        <div class="bw-jobs-cta">
            <svg class="bw-jobs-cta__icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path d="M21 15.546c-.523 0-1.046.151-1.5.454a2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.701 2.701 0 00-1.5-.454M9 6v2m3-2v2m3-2v2M9 3h.01M12 3h.01M15 3h.01M21 21v-7a2 2 0 00-2-2H5a2 2 0 00-2 2v7h18zm-3-9v-2a2 2 0 00-2-2H8a2 2 0 00-2 2v2h12z" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h3 class="bw-jobs-cta__title">
                <f:translate arguments="{0: jobPosition.title}" key="confirm_cta_title"/>
            </h3>
            <a
                class="bw-jobs-button btn btn-primary"
                class="button"
                href="{f:uri.action(action: 'show', arguments: {jobPosition: jobPosition})}"
            >
                <f:translate key="back_button_label"/>
            </a>
        </div>
    </section>

</f:section>

</html>
