<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default"/>

<f:section name="Content">
    <h1>
        <f:translate key="locations_title"/>
    </h1>

    <f:be.tableList
        storagePid="{settings.storagePid}"
        clickTitleMode="info"
        enableClickMenu="true"
        enableControlPanels="true"
        fieldList="{
            0: 'title',
            1: 'street',
            2: 'zip',
            3: 'city',
            4: 'country'
        }"
        recordsPerPage="10"
        sortDescending="true"
        sortField="title"
        tableName="tx_bwjobs_domain_model_location"
    />

    <f:flashMessages/>
</f:section>

</html>
