<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default"/>

<f:section name="Content">

    <f:variable name="translations">{
        "nothingPosted": "<f:translate key="nothing_posted" />",
        "nothingFound": "<f:translate key="nothing_found" />"
    }</f:variable>

    <section class="bw-jobs-section">
        <f:render partial="Frontend/Filter" arguments="{
            categories: categories,
            locations: locations
        }"/>

        <div
            id="bw-jobs-list"
            data-endpoint="{f:uri.action(pluginName: 'Api', controller: 'Api', action: 'listJobPositions', pageType: 1655192624)}"
            data-detail-page-path="{f:uri.page(pageUid: settings.detailPid)}"
            data-translations="{translations}"
        ></div>
    </section>

    <f:asset.script identifier="bw-jobs-list" type="module" src="EXT:bw_jobs/Resources/Public/JavaScript/jobs-list.js"/>

</f:section>

</html>
