<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default"/>

<f:section name="Content">

    <section class="bw-jobs-section" data-endpoint="{f:uri.action(pluginName: 'Api', controller: 'Api', action: 'listJobPositions', pageType: 1655192624, noCache: 1)}">
        <f:render partial="Frontend/Filter" arguments="{
            categories: categories,
            locations: locations,
            filter: filter
        }"/>

        <f:render partial="Frontend/List" arguments="{
            jobPositions: jobPositions,
            shouldPaginate: shouldPaginate,
            pagination: pagination,
            paginator: paginator,
            pages: pages,
            filter: filter
        }"/>
    </section>

</f:section>

</html>
