<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default"/>

<f:section name="Content">

    <section class="bw-jobs-section">
        <f:render partial="Frontend/Filter" arguments="{
            categories: categories,
            locations: locations,
            filter: filter
        }"/>

        <div
            id="jobs-list"
            data-endpoint="{f:uri.action(pluginName: 'Api', controller: 'Api', action: 'listJobPositions', pageType: 1655192624)}"
            data-detail-page-path="{f:uri.page(pageUid: settings.detailPid)}"
        ></div>
    </section>

</f:section>

</html>
