<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{jobPositions}">
    <f:then>
        <div class="bw-jobs-list">
            <f:if condition="{shouldPaginate}">
                <f:then>
                    <f:for each="{paginator.paginatedItems}" as="jobPosition" iteration="iterator">
                        <f:render partial="Frontend/ListItem" arguments="{jobPosition: jobPosition}"/>
                    </f:for>
                    <f:render partial="Frontend/Paginator" arguments="{
                        pagination: pagination,
                        pages: pages,
                        paginator: paginator
                    }"/>
                </f:then>
                <f:else>
                    <f:for each="{jobPositions}" as="jobPosition">
                        <f:render partial="Frontend/ListItem" arguments="{jobPosition: jobPosition}"/>
                    </f:for>
                </f:else>
            </f:if>
        </div>
    </f:then>
    <f:else>
        <div class="bw-jobs-empty bw-jobs-body">
            <p>
                <f:translate key="{f:if(condition: '{filter.locationUid} || {filter.categoryUid}', then: 'nothing_found', else: 'nothing_posted')}"/>
            </p>
        </div>
    </f:else>
</f:if>

</html>
