<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<a
    class="bw-jobs-list-item"
    href="{f:uri.action(pageUid: settings.detailPid, action: 'show', arguments: {jobPosition: jobPosition}, pluginName: 'Detail')}"
    title="{jobPosition.title}"
>
    <div class="bw-jobs-list-item__inner">
        <div class="bw-jobs-list-item__column bw-jobs-list-item__column--title">
            {jobPosition.title}
        </div>
        <f:if condition="{jobPosition.employmentTypes}">
            <div class="bw-jobs-list-item__column">
                <svg class="bw-jobs-list-item__icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <f:for as="employmentType" each="{jobPosition.employmentTypes}" iteration="iterator">
                    {employmentType.title}<f:if condition="!{iterator.isLast}">, </f:if>
                </f:for>
            </div>
        </f:if>
        <f:if condition="{jobPosition.locations}">
            <div class="bw-jobs-list-item__column bw-jobs-list-item__column--locations">
                <svg class="bw-jobs-list-item__icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <f:for as="location" each="{jobPosition.locations}" iteration="iterator">
                    {location.city}<f:if condition="!{iterator.isLast}">, </f:if>
                </f:for>
            </div>
        </f:if>
    </div>
</a>

</html>
