<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<ul class="bw-jobs-paginator">
    <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
        <f:then>
            <li class="bw-jobs-paginator__item bw-jobs-paginator__item--prev">
                <a class="bw-jobs-paginator__item-anchor" href="{f:uri.action(action: actionName, arguments: {currentPageNumber: 1})}" title="{f:translate(key: 'pagination.first')}">
                    <svg class="bw-jobs-paginator__item-icon" fill="none" stroke="currentColor" stroke-width="2"
                         viewBox="0 0 24 24">
                        <path d="M11 19l-7-7 7-7m8 14l-7-7 7-7" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
            <li class="bw-jobs-paginator__item bw-jobs-paginator__item--prev">
                <a class="bw-jobs-paginator__item-anchor" href="{f:uri.action(action: actionName, arguments: {currentPageNumber: pagination.previousPageNumber})}" title="{f:translate(key: 'pagination.previous')}">
                    <svg class="bw-jobs-paginator__item-icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M15 19l-7-7 7-7" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
        </f:then>
        <f:else>
            <li class="bw-jobs-paginator__item bw-jobs-paginator__item--prev bw-jobs-paginator__item--disabled">
                <a class="bw-jobs-paginator__item-anchor" href="#">
                    <svg class="bw-jobs-paginator__item-icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M11 19l-7-7 7-7m8 14l-7-7 7-7" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
            <li class="bw-jobs-paginator__item bw-jobs-paginator__item--prev bw-jobs-paginator__item--disabled">
                <a class="bw-jobs-paginator__item-anchor" href="#">
                    <svg class="bw-jobs-paginator__item-icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M15 19l-7-7 7-7" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
        </f:else>
    </f:if>

    <f:for each="{pages}" as="page">
        <li class="bw-jobs-paginator__item {f:if(condition: '{page} == {paginator.currentPageNumber}', then: 'bw-jobs-paginator__item--current')}">
            <a class="bw-jobs-paginator__item-anchor" href="{f:uri.action(action: actionName, arguments: {currentPageNumber: page})}">{page}</a>
        </li>
    </f:for>

    <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
        <f:then>
            <li class="bw-jobs-paginator__item bw-jobs-paginator__item--next">
                <a class="bw-jobs-paginator__item-anchor" href="{f:uri.action(action: actionName, arguments: {currentPageNumber: pagination.nextPageNumber})}" title="{f:translate(key: 'pagination.next')}">
                    <svg class="bw-jobs-paginator__item-icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
            <li class="bw-jobs-paginator__item bw-jobs-paginator__item--next">
                <a class="bw-jobs-paginator__item-anchor" href="{f:uri.action(action: actionName, arguments: {currentPageNumber: pagination.lastPageNumber})}" title="{f:translate(key: 'pagination.last')}">
                    <svg class="bw-jobs-paginator__item-icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M13 5l7 7-7 7M5 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
        </f:then>
        <f:else>
            <li class="bw-jobs-paginator__item bw-jobs-paginator__item--next bw-jobs-paginator__item--disabled">
                <a class="bw-jobs-paginator__item-anchor" href="#">
                    <svg class="bw-jobs-paginator__item-icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
            <li class="bw-jobs-paginator__item bw-jobs-paginator__item--next bw-jobs-paginator__item--disabled">
                <a class="bw-jobs-paginator__item-anchor" href="#">
                    <svg class="bw-jobs-paginator__item-icon" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                        <path d="M13 5l7 7-7 7M5 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </li>
        </f:else>
    </f:if>
</ul>

</html>
